*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

:root{
    --primary: #FB2E86;
    --mainFont: "Lato", sans-serif;
}

.btn{
    border: none;
    outline: border;
    color: white;
    background-color: white;
    padding: 16px 40px;
    border-radius: 2px;
    font-size: 16px;
    transition: 0.3s;
}

.btn:hover{
    cursor: pointer;
    background-color: #921b4f;
}

.btn-primary{
    background-color: #FB2E86;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: calc(100% - 320px);
    margin: auto;
}


.text-white{
    color: white;
}

.d-flex{
    display: flex;
}       

.flex-dirC{
    flex-direction: column;
}  

.gap-1{
    gap: 5px;
}

.gap-2{
    gap: 25px;
}

.gap-3{
    gap: 50px;
}

@media screen and (max-width : 700px){
    .container{
        width: calc(100% - 100px);
    }
}

@media screen and (max-width : 350px){
    .container{
        width: calc(100% - 50px);
    }
}

@media screen and (max-width : 320px){
    .container{
        width: calc(100% - 20px);
    }
}