body{
    font-family: var(--mainFont);
}

.header{
    padding-top: 47px;
    padding-bottom: 35px;
}

.header ul{
    display: flex;
    gap: 35px;
}

.bar{
    display: none;
}

.list .active{
    color: var(--primary);
}
.list a{
    color: #0D0E43;
}
.search form{
    display: flex;
    align-items: center;
    gap: 0;
    overflow: hidden;
    border: 2px solid #E7E6EF;
    border-radius: 2px;
}
.search input{
    border: none;
    outline: none;
    padding-left: 5px;

}
.search button:hover{
    cursor: pointer;
    background-color: #921b4f;
}
.search button{
    border: none;
    outline: none;
    background-color: var(--primary);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 1px 7px;
    transition: 0.3s;
}

.sign-up form{
    display: flex;
    align-items: center;
    gap: 0;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 3px;
}
.sign-up input{
    border: none;
    outline: none;
    padding-left: 20px;
    padding: 10px;
    
}
.sign-up input::placeholder{
    color: #8A8FB9;
}
.sign-up button:hover{
    cursor: pointer;
    background-color: #921b4f;
}
.sign-up button{
    border: none;
    outline: none;
    background-color: var(--primary);
    border-radius: 3px;
    padding: 10px 40px;
    transition: 0.3s;
}

.left p{
    color: #8A8FB9;
}
.left img{
    display: block;
}

.footer{
    background-color: #EEEFFB;
    padding: 100px 0px;
}

.right{
    width: 60%;
    
}

.left{
    align-items: flex-start;
}

.footer a{
    color: #8A8FB9;
    font-size: 16px;
}
.footer h2{
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
}

.start{
    align-items: flex-start;
}

.bottom-left{
    align-items: flex-start;
}









@media screen and (max-width:1200px) {
    .list,.search{
        display:none;
    }
    .bar{
        display: block;
    }
}





